<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mock Resource List</title>
<script type="text/javascript" src="/rest/script/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/rest/script/knockout-2.2.1.js"></script>
</head>
<body>
  <h1>Mock Resources</h1>
  <table>
    <thead>
      <tr>
        <th>Url</th>
        <th>Data Type</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: resources">
      <tr>
        <td><span data-bind="text: url"></span></td>
        <td><span data-bind="text: types"></span></td>
      </tr>
    </tbody>
  </table>
  <script type="text/javascript" src="/rest/script/resources.js"></script>
</body>
</html>